legend {
    background-color: black;
    color: #fff;
    padding: 3px 6px;
}

body {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    border: solid black 1px;
}

.labin {
    padding: 4px;
}

.adresse {
    width: 30rem;
}

fieldset {
    margin: 5px;
}

.buttons {
    margin: 2% 0% 0% 10%;
}

.buttons>input {
    width: 100px;
    height: 20px;
}