<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>Todo</h1>
        <div id="app">
            <ul v-for='(value,i) in li' :key="i">
                <li><input @keyup.enter="ajout_li" @input="li_input" v-model="li[i].titre" type="text">{{i}}<button @click="_delete(i)"><img src="../img/error.png" alt="delete"></button></li>
            </ul>
            <h2>Le nombre d'items non vide</h2>
            <div>MaxA:{{ MaxA }}</div>
            <div>MaxB:{{ get_maxB }}</div>
            <div>MaxC:{{ MaxC }}</div>
            <button @click.prevent="ajout_li" type="text">add</button>
            <div>Debug {{ li }}</div>
        </div>

        <script>

            var app = new Vue({
                el: '#app',
                data: function (){
                    return {
                        li: [],
                        id : 0,
                        MaxA: 0,
                        MaxB: 0,
                        MaxC: 0,
                        val: ''
                    };
                },

                methods : {
                    ajout_li: function (){
                        this.li.push({'id': this.id++, 'titre': ''});
                        this.$nextTick(() => {
                            if (this.li.length != 0)
                                document.getElementsByTagName('input')[this.li.length-1].focus();
                        });
                        
                    },

                    _delete: function(i){
                        this.li.splice(i,1);
                    },

                    li_input: function() {
                        this.MaxA = 0;
                        this.li.forEach( (element) =>{
                            if( element.titre != "")
                                this.MaxA++; 
                        })
                    }
                },

                computed: {
                    get_maxB() {
                        this.MaxB = 0;
                        this.li.forEach((element) =>{
                            if( element.titre != "")
                                this.MaxB++;   
                        })
                        return this.MaxB;
                    }
                },
                
                watch : {
                    li : {
                        handler : function(){
                            localStorage.setItem('monLocal',JSON.stringify(this.li));
                        },
                        deep: true,
                    }
                },
                
                mounted(){
                    let json = JSON.parse(localStorage.getItem('monLocal'))
                       if ( json != null)
                            this.li = json;
                    }               
            });

        </script>
    </body>
</html>