<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Page d'acceuil de Lausanne tourisme ou vous pouvez retrouver toutes les infos sur la ville" />
		<title>Lausanne tourisme</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <header>
            <a href="#" class="margin_auto"><img src="./img/lauzanne_logo.png" alt="Lauzanne tourisme" class="logo_lauzanne"></a>
            <a href="#" class="lien_title white margin_auto"><h1>LAUZANNE</h1></a>
            <div class="nav_search_temp margin_auto">
                <a href="" class="flaticon-search" title="rechercher"></a>
                <a href="#" class="flaticon-weather"><span class="separation_weather_temp "></span>4°C</a>
                <a href="" class="flaticon-open-menu"></a>
            </div>
        </header>

        <div class="font_acceuil">
            <div class="social_networks">
                <div><a href="#" class="flaticon-facebook"></a></div>
                <div><a href="#" class="flaticon-twitter"></a></div>
                <div><a href="#" class="flaticon-instagram"></a></div>
                <div><a href="#" class="flaticon-pinterest"></a></div>
                <div><a href="#" class="flaticon-video"></a></div>
                <div><a href="#" class="flaticon-linkedin"></a></div>
            </div>
            <div class="navigation_page txt_center">
                <div><a href="#">See and Do</a></div>
                <div><a href="#">Eating and Nightlife</a></div>
                <div><a href="#">Useful</a></div>
            </div>
            <div class="copyright">© LT/Laurent KACZOR</div>
        </div>

    </body>
</html>