<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>Todo</h1>
        <div id="app">
            <ul v-for='value in li' :key="value.id">
                <li><input @change="update(value)" @keyup.enter="ajout_li" @input="li_input" v-model="value.titre" type="text"><button @click="_delete(value)"><img src="../img/error.png" alt="delete"></button></li>
            </ul>
            <h2>Le nombre d'items non vide</h2>
            <div>MaxA:{{ MaxA }}</div>
            <div>MaxB:{{ get_maxB }}</div>
            <div>MaxC:{{ MaxC }}</div>
            <button @click.prevent="ajout_li" type="text">add</button>
            <div>Debug {{ li }}</div>
        </div>

        <script>

            var app = new Vue({
                el: '#app',
                data: function (){
                    return {
                        li: [],
                        MaxA: 0,
                        MaxB: 0,
                        MaxC: 0,
                        val: '',
                        apiUri: "http://localhost:3000/"
                    };
                },

                methods : {
                    ajout_li: function (){

                        fetch(this.apiUri + 'todo/', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: ""
                        }).then( (data) => { return data.json();
                        }).then( (data) => {
                            this.li.push(data);
                            this.$nextTick(() => {
                                if (this.li.length != 0)
                                    document.getElementsByTagName('input')[this.li.length-1].focus();
                            });
                        });

                    },

                    _delete: function(value){
                        fetch(this.apiUri + 'todo/' + value.id, {
                            method: "DELETE"
                        }).then( (data) => {
console.log(this.li.indexOf(value));
                            this.li.splice(this.li.indexOf(value),1);
                        })
                        
                    },
                    
                    update(val){
                        fetch(this.apiUri + 'todo/' + val.id, {
                            method: 'PATCH',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(val)
                        });
                    },
                    
                    li_input: function() {
                        this.MaxA = 0;
                        this.li.forEach( (element) =>{
                            if( element.titre != "")
                                this.MaxA++; 
                        })
                    }
                    
                    
                },

                computed: {
                    get_maxB() {
                        this.MaxB = 0;
                        this.li.forEach((element) =>{
                            if( element.titre != "")
                                this.MaxB++;   
                        })
                        return this.MaxB;
                    }
                },

                mounted(){
                    fetch(this.apiUri + 'todo/', {
                        method: 'GET',
                    }).then((response) =>{
                        return response.json();
                    })
                        .then( (data) => {
                        this.$nextTick(() => {
                            this.li = data;
                        });
                    })

                }
            });

        </script>
    </body>
</html>