 /* Reset CSS */

* {
    margin: 0;
    padding: 0;
}

/*
    Flaticon icon font: Flaticon
    Creation date: 13/11/2019 09:35
    Gestion des svg en font
*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff2") format("woff2"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

.social_networks a:before , .nav_search_temp a:before{
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101";}
.flaticon-instagram:before { content: "\f102";}
.flaticon-pinterest:before { content: "\f103";}
.flaticon-video:before { content: "\f108";}
.flaticon-linkedin:before { content: "\f104"; }
.flaticon-search:before { content: "\f105";}
.flaticon-weather:before {content: "\f106";}
.flaticon-open-menu:before {content: "\f107"; }

/*
    Classes génériques
*/

.txt_center {
    text-align: center;
}

.margin_auto {
    margin: auto 0 ;
}

.display_none {
    display: none;
}

/* BODY */

body {
    color: white;  
}

a {
    text-decoration:none;
}

/* 
    CSS version mobile 
*/

/* Header */

header {
    background-color: #3E4249;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 1%;
}

header a:hover, h1:hover {
    color:#2D7DBF;
}

h1 {
    font-size: 28px;
    color: white;
}

.logo_lauzanne {
    height: 32px;
}

.flaticon-weather {
    display: none;
}

.nav_search_temp {
    display: flex;
    flex-direction: row;
}

.nav_search_temp a {
    color: white;
}

.flaticon-search {
    padding-right: 20px;
}

.nav_search_temp a, .social_networks a {
    font-size: 30px;
}

/* Image de fond */

.font_acceuil {
    position: relative;
    background-image: url("../img/lauzanne_img.jpg");
    background-position: top 50% right 50%;
    background-size: cover;
    height: 450px;
}

.social_networks {
    display: none;
}

.navigation_page {
    position: absolute;
    bottom: -114px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.navigation_page div{
    background-color: rgba(0,0,0,0.9);
    margin: 1px 10%;
    padding: 10px 0;
}

.navigation_page a {
    width: 100%;
    color: white;
}

.navigation_page div:first-child {
    background-color: rgba(0,0,0,0.5);
}

.copyright {
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 10px;
    opacity: 0.8;
}

.navigation_page a:hover {
    color:#2D7DBF;
    text-decoration: underline;
}

.flaticon-weather:hover span {
    border-color: white;
}
/* 
    Version tablette 
*/

@media screen and (min-width: 768px) {
    
    /* header */
    
    header{
        padding: 15px 1%;
    }
    
    h1 {
        font-size: 38px;
    }

    .logo_lauzanne {
        height: 42px;
    }

    .flaticon-weather {
        display: block;
    }
    
    .separation_weather_temp {
        border-right: 3px solid grey;
        border-radius: 20%;
        margin: 0 10px;
    }
    
    /* image de fond */
    
    .font_acceuil {
        height: 550px;
    }
    
    /* liens résaux sociaux*/
    
    .social_networks {
        display: flex;
        flex-direction: column;
        position: absolute;
        top : 10%;
    }
    
    .social_networks a{
        color: white;
        background-color: #2C81C6;
        padding: 12px;
    }
    
    .social_networks div{
        padding: 11.2px 0;
    }
    
    .social_networks a:hover{
        background-color: #0C4561;
    }
    
    .flaticon-facebook:hover:after{content: " Facebook";}
    .flaticon-twitter:hover:after{content: "  Twitter";}
    .flaticon-instagram:hover:after{content: "  Instagram";}
    .flaticon-pinterest:hover:after{content: " Pinterest";}
    .flaticon-video:hover:after{content: " Youtube";}
    .flaticon-linkedin:hover:after{content: " Linkedin";}
    
    .social_networks div:hover{
        display: block;
    }
   
    .navigation_page {
        bottom: -58px;
    }
    
    .navigation_page div:nth-child(2) {
        background-color: rgba(0,0,0,0.5);
    }
}

/* 
    Version desktop 
*/

@media screen and (min-width: 1280px) {

    /* header */
    
    .flaticon-search, .flaticon-weather {
        padding-right: 50px;
    }
    
    /* image de fond */
    
    .font_acceuil {
        height: 650px;
    }
    
    .navigation_page {
        flex-direction: row;
        justify-content: center;
        bottom: 0;
        width: 70%;
        left: 50%;
        transform: translate(-50%);
    }
    
    
    .navigation_page div{
        margin: 0 1px;
        padding: 25px 55px;
        background-color: rgba(0,0,0,0.6);
    }
}
