/* Reset CSS */

* {
    margin: 0;
    padding: 0;
}

/*
    Flaticon icon font: Flaticon
    Creation date: 13/11/2019 09:35
    Gestion des svg en font
*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff2") format("woff2"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-facebook:before { 
    content: "\f100"; 
}

.flaticon-twitter:before { 
    content: "\f101";
}

.flaticon-instagram:before { 
    content: "\f102";
}

.flaticon-pinterest:before {
    content: "\f103";
}

.flaticon-video:before { 
    content: "\f108";
}

.flaticon-linkedin:before { 
    content: "\f104"; 
}

.flaticon-search:before { 
    content: "\f105";
}

.flaticon-weather:before { 
    content: "\f106";
}

.flaticon-open-menu:before {
    content: "\f107"; 
}

/*
Classes génériques
*/

.txt_center {
    text-align: center;
}

.link_without_decoration {
    text-decoration:none;
}

.white {
    color: white;
}

.margin_auto {
    margin: auto 0 ;
}

/* BODY */

body {
    color: white;
}

/* CSS version mobile */

/* Header */

header {
    background-color: #3E4249;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 1%;
}

.logo_lauzanne {
    height: 32px;
}

.link_lauzanne_tourism {
    width: 25%;
}

.flaticon-weather {
    display: none;
}

.nav_search_temp {
    display: flex;
    flex-direction: row;
}

.flaticon-search {
    padding-right: 20px;
}

.fi {
    font-size: 30px;
}

/* Image de fond */

.font_acceuil {
    position: relative;
    background-image: url("../img/lauzanne_img.jpg");
    background-position: top 0 right 50%;
    background-size: cover;
    height: 600px;
}

.social_networks {
    display: none;
}

.navigation_page {
    position: absolute;
    bottom: -100px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.link_nav_page {
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin: 1px 10%;
    padding: 5% 0;
}

.copyright {
    position: absolute;
    bottom: 1%;
    right: 1%;
}

